:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --color-grey: #a5a5a5;
    --color-light-grey: #f7f7f7;
    --button-radius: 35px;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
}

.header {
    width: 100vw;
    height: 70px;
    background-color: var(--color-white);
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    display: flex;
    align-self: center;

}

.container {
    width: 1352px;
}

.nav__element {
    font: normal normal bold 11px/15px Open sans;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--color-black);
    opacity: 1;
    padding: 0 95px 0 95px;


}

.nav__link {
    text-align: center;
    text-decoration: none;
    padding-bottom: 25px;

}


.nav__link:hover {
    color: var(--color-grey);
    border-bottom: 4px solid #08A6E4;
    cursor: pointer;
}


.header__nav {
    display: flex;
    justify-content: space-between;
}


.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.header__nav li {
    align-self: center;
}


.logo {
    display: flex;
    justify-content: space-between;
    text-align: left;
    font: normal normal 300 32px/37px Raleway;
    letter-spacing: 0px;
    color: var(--color-primary);
    opacity: 1;
    text-decoration: none;
    padding-left: 136px;
}


.h1 {

    font: normal normal normal 49px/57px Raleway;
    letter-spacing: 0px;
    color: var(--color-black);
    padding-bottom: 20px;
}

.p1 {
    padding-bottom: 38px;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: var(--color-black);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 440px;
    height: 67px;
    background: var(--color-primary) 0% 0% no-repeat padding-box;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    border: none;


}

.button__text {
    text-align: center;
    font: normal normal bold 16px/22px Open Sans;
    letter-spacing: 0px;
    color: var(--color-white);
    text-decoration: none;
}


.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;

}

.background__image {
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/Background.png") ;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}